.search-bar {
    margin: 20px 0;
    border-color: black;
  }
  
  .search-bar input {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
    border-color: black;
  }

  .search-bar input:focus {
    outline: none;
    border-color: #ff69b4;
  }

  nav{
    background-color:royalblue;
}

.card img{
  height: 250px;
}

.btn1{
  position: relative; 
  margin-right: 4% ; 
  background-color: transparent; 
  color: black;
  border: 6%;
  border-radius: 10%;
  border-color: black;
  padding: 8px;
  cursor: pointer;
}


.OIP {
  background-image: url(images/1d1ac84ed44ce73b5e0ac7ce09044bbb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

.zeal{
  color: #ff69b4;
}

